
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><i class="fas fa-sign-in-alt"></i> CHANGE PASSWORD</h5>
            <form class="form-signin" method="post">
              {% csrf_token %}
              <div class="form-label-group">
                <input type="password" id="id_old_password" class="form-control" autocomplete="off" name="old_password" placeholder="Old Password" required>
                <label for="id_old_password">Old Password</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="id_new_password1" class="form-control" autocomplete="off" name="new_password1" placeholder="New Password" required>
                <label for="id_new_password1">New Password</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="id_new_password2" class="form-control" autocomplete="off" name="new_password2" placeholder="Confirm Password" required>
                <label for="id_new_password2">Confirm Password</label>
              </div>
              {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
              <hr class="my-4">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change Password</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}