{% extends 'base.html' %}
{% load static %}

{% block title %} Book Appointment {% endblock%}

{% block content %}

 <div class="container">
  <div class="row">
  <div class="container_progressbar">
    <ul class="progressbar">
        <li class="active">Details</li>
        <li class="active">Select Date and Time</li>
        <li class="active">Select Doctor</li>
        <li>Book Appointment</li>
</ul>
</div>
 </div>


<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

      {% if messages %}
        {% for message in messages %}
         {% if message.tags == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
              <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
         {% endif %}
<strong>{{message}}</strong>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
        {% endfor %}
        {% endif %}

        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">BOOK APPOINTMENT</h5>
            <form class="form-signin" action="/bookappointment_done/No" method="post">
                {% csrf_token %}
              <div class="form-label-group">
                  {{form.username}}
                  <label for="inputUsername">Username</label>
                </div>
              <div class="form-label-group">
                {{form.patient_name}}
                  <label for="inputPatientName">Patient's Name</label>
              </div>
                <div class="form-label-group">
                {{form.patient_gender}}
                  <label for="inputPatientGender">Gender</label>
              </div>
                <div class="form-label-group">
                  {{form.patient_age}}
                    <label for="inputAge">Age</label>
                </div>
                <div class="form-label-group">
                    {{form.email}}
                    <label for="inputEmail">Email</label>
                  </div>
                <div class="form-label-group">
                    {{form.phone}}
                    <label for="inputPhone">Phone</label>
                  </div>
                <div class="form-label-group">
                    {{form.booking_date}}
                    <label for="inputBooking_date">Booking Date (YYYY--MM--DD)</label>
                  </div>
                <div class="form-label-group">
                    {{form.booking_time}}
                    <label for="inputBooking_time">Booking Time</label>
                  </div>
                <div class="form-label-group">
                    {{form.day}}
                    <label for="inputDay">Booking Day</label>
                  </div>
                <div class="form-label-group">
                    {{form.doctor_name}}
                    <label for="inputDoctor_name">Doctor Name</label>
                  </div>
                <div class="form-label-group">
                    {{form.specialization}}
                    <label for="inputSpecialization">Specialization</label>
                  </div>
                <div class="form-label-group">
                    {{form.appointment_price}}
                    <label for="inputAppointment_price">Appointment Price</label>
                  </div>
              <hr class="my-4">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Book Appointment and Pay at Counter</button>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" formaction="/bookappointment_pay/Yes">Book Appointment and Pay Now</button>
                 <a class="d-block text-center mt-2 large" style="color:red;text-decoration:none" href="{% url 'scheduledoctor' %}">BACK</a>
             </form>
          </div>
        </div>
      </div>
</div>


{% endblock %}

