{% extends 'base.html' %}

{% block title %} Hospital Management System {% endblock %}

{% block content %}
 <div class="jumbotron">
    <h1 class="display-4">MEDICARE HOSPITAL</h1>
    <p class="lead">Medicare is a 400+ bedded highly advanced healthcare facility offering services across all major medical disciplines including Oncology, Cardiology, Obstetrics, Gynaecology, Orthopaedics, Urology, Neurology, Minimal Access, Metabolic, Bariatric Surgery, and Kidney Transplants. In Medicare, experts have performed more than 30,000 operations including all advanced and basic surgeries. Furthermore, being one of the best hospitals in Delhi, it is equipped with the necessary infrastructure that is required to carry out such advanced surgeries. Emergency services are available 24*7 with a Blood Bank, ATM, and other amenities for proper patient care. Heart Failure Clinic, Spine & Backache Clinic, Pain Clinic, Headache Clinic, Diabesity Clinic, Advance Knee & Hip clinic are some speciality clinics in this hospital.</p>
  <br>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-timings-tab" data-toggle="tab" href="#nav-timings" role="tab" aria-controls="nav-timings" aria-selected="true">TIMINGS</a>
        <a class="nav-item nav-link" id="nav-diagnostic-tab" data-toggle="tab" href="#nav-diagnostic" role="tab" aria-controls="nav-diagnostic" aria-selected="false">DIAGNOSTIC</a>
        <a class="nav-item nav-link" id="nav-amenities-tab" data-toggle="tab" href="#nav-amenities" role="tab" aria-controls="nav-amenities" aria-selected="false">AMENITIES</a>
        <a class="nav-item nav-link" id="nav-visitorinfo-tab" data-toggle="tab" href="#nav-visitorinfo" role="tab" aria-controls="nav-visitorinfo" aria-selected="false">VISITOR INFO</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">CONTACT</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-timings" role="tabpanel" aria-labelledby="nav-timings-tab">
        <br>
        <h5>OPD Timings</h5>
        <p>Mon - Sun : 8 am to 8pm</p>
        <h5>Emergency Services</h5>
        <p>Available (24*7)</p>
        <h5>Chemist:</h5>
        <p>Available (24*7)</p>
        <h5>Valet Parking</h5>
        <p>Paid Parking Available</p>
        <h5>Blood Bank</h5>
        <p>Available</p>
      </div>
      <div class="tab-pane fade" id="nav-diagnostic" role="tabpanel" aria-labelledby="nav-diagnostic-tab">
        <br>
        <h5>DIAGNOSTIC SERVICES</h5>
        <p>Pathology, Radiology, Cardiology, Nuclear Medicine</p>
        <h5>HEALTH CHECKUPS</h5>
        <p>Executive, Specialty ( Diabetic, Cardiac), Corporate & Pre-Employment Check</p>
        <h5>HEALTH CHECK ON SUNDAY</h5>
        <p>Available</p>
      </div>
      <div class="tab-pane fade" id="nav-amenities" role="tabpanel" aria-labelledby="nav-amenities-tab">
        <br>
        <h5>SPECIALITY CLINICS</h5>
      <ul>
        <li>Pain Clinic</li>
        <li>Pacemaker Clinic</li>
        <li>Diabesity Clinic</li>
        <li>Headache Clinic</li>
        </ul>
        <h5>PHARMACY</h5>
        <p>Available 24*7</p>
        <h5>24X7 HELPLINE NUMBERS</h5>
        <p>Trauma helpline - 011- 49999991</p>
        <h5>BANK/ATM</h5>
        <p>ATM of Punjab National Bank in premises</p>
        <h5>CAFETERIA</h5>
        <p>Cafe Coffee Day, Whole Foods, Kwality Express & Temptation Cafe</p>
        <h5>PARKING</h5>
        <p>Free Parking</p>
      </div>
      <div class="tab-pane fade" id="nav-visitorinfo" role="tabpanel" aria-labelledby="nav-visitorinfo-tab"><br><h5>VISITING HOURS</h5>
        <ul>
          <li>IPD Rooms - One visitor is allowed to visit the patient between 4:00 pm to 7:00 pm.</li>
          <li>ICUs - One visitor is allowed to visit the patient between 11:00 am to 12:00 noon and 06:00 pm to 07:00 pm.</li>
          <li>One attendant is allowed to stay with the patient in Single, Twin Sharing and Suite.</li>
          </ul>
          <h5>VISITOR DO'S</h5>
        <ul>
          <li>Follow the directions of the senior person in charge of each area and/or department if there is an emergency such as fire.</li>
          <li>Patients are requested to wear hospital dress during hospitalization.</li>
          <li>Security personnel might check your belongings at any point of time; please cooperate.</li>
          <li>Be considerate of others present in the hospital.</li>
        </ul>
          <h5>VISITOR DONT'S</h5>
          <ul>
            <li>Smoking is prohibited, so please do not smoke.</li>
            <li>Do not bring incense to burn in the patient's room as it may cause a fire or affect the patient's health.</li>
            <li>Please do not bring flowers, handy cameras, and visitors below 12 years to the hospital.</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <br>
            <h5>CONTACTS</h5>
            <p>Phone:+911143033333</p>
            <p>Fax:+911133325563</p>
            <p>Appointment call:1237434678</p>
            <p>Emergency Number:+911140111051</p>
   </div>
    </div>
  </div>
{% endblock %}