from django.contrib.auth.models import User, auth

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark navbar fixed-top ">
    <a class="navbar-brand" href="#">MEDICARE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'scheduledetails' %}">Schedule an Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'myappointment' %}">My Appointments</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
          {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'specialities' %}">Our Specialities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
            {% endif %}
      </ul>
    </div>
  </nav>